<a href="https://colab.research.google.com/github/Mashael0x/Intro_Machine_Learning/blob/main/04_Riyadh_Data_feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

link = 'https://raw.githubusercontent.com/gumdropsteve/intro_to_machine_learning/main/day_04/data/riyadh.csv'

data = pd.read_csv(link)

In [ ]:
data.shape

(6365, 40)

In [ ]:
data.head()

                           ds  ... chefs_kitchen_bool
0  2021-01-20 04:14:08.745592  ...                NaN
1  2021-01-20 04:14:08.745592  ...                NaN
2  2021-01-20 04:14:08.745592  ...                NaN
3  2021-01-20 04:14:08.745592  ...                NaN
4  2021-01-20 04:14:08.745592  ...                NaN

[5 rows x 40 columns]

## **1. Data cleaning**

In [ ]:
data.type.value_counts()

Entire apartment             3505
Private room                  744
Entire chalet                 431
Entire house                  249
Entire serviced apartment     218
Resort room                   214
Entire condominium            157
Entire villa                  123
Room                          122
Farm stay                     112
Hotel room                    112
Entire loft                    84
Campsite                       51
Tiny house                     46
Entire guest suite             38
Earth house                    37
Entire guesthouse              28
Entire place                   21
Hut                            17
Camper/RV                      15
Shared room                    14
Entire cottage                 11
Dome house                     10
Tent                            6
Name: type, dtype: int64

In [ ]:
len(data.type.unique())

24

In [ ]:
#some city names are in english and some in arabic, riyadh city is redundant and counted as diffrent values because it is written in two languages.
#I should change them to one language and since most of them are in english I will convert arabic to english 
data.location.value_counts()

Riyadh                          5064
الرياض                           354
Buraydah                         267
بريدة                             54
Riyadh                            53
boutique hotel                    53
Unayzah                           49
Al Kharj                          47
aparthotel                        46
Al Majmaah                        44
Kingdom of Saudi Arabia City      41
Shaqra                            34
Az Zulfi                          30
serviced apartment                23
Hail                              22
Ad Diriyah                        19
المليداء                          17
الغماس                            17
Al-Muzahmiya                      16
SA                                15
Al Qassim                         13
Ad Dilam                          12
Al Bukayriyah                     12
Rumah                             11
Thadiq                            10
البرج                              8
Al Bahah                           7
Al-Kharj                           6
Riyadh Province                    6
Al Ghat                            4
Almuzahmiyah                       3
Al Duwadimi                        3
النماص                             3
القرينه                            2
Name: location, dtype: int64

In [ ]:
data.location.replace(['الرياض','Kingdom of Saudi Arabia City','Riyadh Province','Almuzahmiyah','Riyadh','serviced apartment'], 'Riyadh', inplace = True)
data.location.replace(['بريدة'], 'Buraydah', inplace= True)
data.location.replace(['الغماس'], 'Al-ghamas', inplace= True)
data.location.replace(['المليداء'], 'Al-mulaida', inplace = True)
data.location.replace(['البرج'], 'Al-burj', inplace= True)
data.location.replace(['النماص'], 'Al-numas', inplace=True)
data.location.replace(['القرينه'], 'Al-qarina', inplace = True)

In [ ]:
data.location.value_counts()

Riyadh            5491
Buraydah           321
Riyadh              53
boutique hotel      53
Unayzah             49
Al Kharj            47
aparthotel          46
Al Majmaah          44
Shaqra              34
Az Zulfi            30
Hail                22
Ad Diriyah          19
Al-mulaida          17
Al-ghamas           17
Al-Muzahmiya        16
SA                  15
Al Qassim           13
Ad Dilam            12
Al Bukayriyah       12
Rumah               11
Thadiq              10
Al-burj              8
Al Bahah             7
Al-Kharj             6
Al Ghat              4
Al-numas             3
Al Duwadimi          3
Al-qarina            2
Name: location, dtype: int64

In [ ]:
data.guests.value_counts()

2.0      1325
0.0       795
3.0       462
4.0       262
5.0        76
6.0        56
7.0        35
103.0      14
8.0         4
40.0        3
Name: guests, dtype: int64

In [ ]:
sum(data.guests.isna())

3333

In [ ]:
#from sklearn.impute import SimpleImputer
#import numpy as np
#imp = SimpleImputer(missing_values= np.nan, strategy='median')
#data['guests'] = imp.fit_transform(data['guests']).ravel()

In [ ]:
data['guests'].fillna(data['guests'].median(), inplace=True)

In [ ]:
data.guests.value_counts()

2.0      4658
0.0       795
3.0       462
4.0       262
5.0        76
6.0        56
7.0        35
103.0      14
8.0         4
40.0        3
Name: guests, dtype: int64

In [ ]:

data.isnull().sum()

ds                            0
search_filter              1500
url                           0
title                         0
type                          0
location                      0
guests                        0
bedrooms                      0
beds                       3333
is_studio                     0
baths                      1018
half_baths                 6339
shared_baths               6221
price                         0
avg_rating                 3165
n_reviews                  3165
gym_bool                   6070
wifi_bool                  3597
self_check_in_bool         5218
air_conditioning_bool      2058
pets_allowed_bool          5578
indoor_fireplace_bool      6229
hot_tub_bool               6186
free_parking_bool          4311
pool_bool                  5051
kitchen_bool               2070
breakfast_bool             6271
elevator_bool              5619
washer_bool                5494
dryer_bool                 6021
heating_bool               6365
waterfront_bool            6364
dishwasher_bool            6348
beachfront_bool            6354
ski_in_ski_out_bool        6365
terrace_bool               6365
sonos_sound_system_bool    6365
bbq_grill_bool             6365
hair_dryer_bool            6365
chefs_kitchen_bool         6365
dtype: int64

In [ ]:
column_names = ['gym_bool','wifi_bool','self_check_in_bool','air_conditioning_bool','pets_allowed_bool','indoor_fireplace_bool','hot_tub_bool','free_parking_bool','pool_bool',
                'kitchen_bool','breakfast_bool','elevator_bool','washer_bool','dryer_bool','heating_bool','waterfront_bool','dishwasher_bool','beachfront_bool','ski_in_ski_out_bool',
                 'terrace_bool','sonos_sound_system_bool','bbq_grill_bool','hair_dryer_bool','chefs_kitchen_bool']
data.drop(columns=column_names, axis = 1, inplace= True)

In [ ]:
data.shape

(6365, 16)

In [ ]:
data.head()

                           ds search_filter  ... avg_rating n_reviews
0  2021-01-20 04:14:08.745592         iyadh  ...       4.44     132.0
1  2021-01-20 04:14:08.745592         iyadh  ...       4.55     159.0
2  2021-01-20 04:14:08.745592         iyadh  ...       5.00       3.0
3  2021-01-20 04:14:08.745592         iyadh  ...       3.46      13.0
4  2021-01-20 04:14:08.745592         iyadh  ...       5.00       7.0

[5 rows x 16 columns]

In [ ]:
data.shared_baths.value_counts()

0.0     48
3.0     38
2.0     30
3.5     17
10.0     4
4.0      4
4.5      3
Name: shared_baths, dtype: int64

In [ ]:
data['shared_baths'].fillna(data['shared_baths'].median(), inplace=True)

In [ ]:
data.half_baths.value_counts()

0.0    26
Name: half_baths, dtype: int64

In [ ]:
data.drop(columns= 'half_baths', axis = 1, inplace= True)

In [ ]:
data.search_filter.value_counts()

entire_homes                     1500
shared_rooms                      540
private_rooms                     540
entire_home_super_hosts           400
super_hosts                       400
hotel_rooms                       360
iyadh_entire_homes                300
iyadh                             300
iyadh_private_rooms               140
iyadh_shared_rooms                140
iyadh_entire_home_super_hosts      80
iyadh_hotel_rooms                  80
iyadh_super_hosts                  80
hotel_room_super_hosts              4
iyadh_hotel_room_super_hosts        1
Name: search_filter, dtype: int64

In [ ]:
data.search_filter.fillna('entire_homes', inplace= True)

In [ ]:
data.search_filter.replace('iyadh_entire_homes','Riyadh_entire_homes', inplace = True)
data.search_filter.replace('iyadh','Riyadh', inplace = True)
data.search_filter.replace('iyadh_private_rooms','Riyadh_private_rooms', inplace = True)
data.search_filter.replace('iyadh_shared_rooms','Riyadh_shared_rooms', inplace = True)
data.search_filter.replace('iyadh_entire_home_super_hosts','Riyadh_entire_home_super_hosts', inplace = True)
data.search_filter.replace('iyadh_hotel_rooms','Riyadh_hotel_rooms', inplace = True)
data.search_filter.replace('iyadh_hotel_room_super_hosts','Riyadh_hotel_room_super_hosts', inplace = True)

In [ ]:
data.search_filter.value_counts()

entire_homes                      3000
shared_rooms                       540
private_rooms                      540
entire_home_super_hosts            400
super_hosts                        400
hotel_rooms                        360
Riyadh                             300
Riyadh_entire_homes                300
Riyadh_shared_rooms                140
Riyadh_private_rooms               140
Riyadh_entire_home_super_hosts      80
iyadh_super_hosts                   80
Riyadh_hotel_rooms                  80
hotel_room_super_hosts               4
Riyadh_hotel_room_super_hosts        1
Name: search_filter, dtype: int64

In [ ]:
data.isnull().sum()

ds                  0
search_filter       0
url                 0
title               0
type                0
location            0
guests              0
bedrooms            0
beds             3333
is_studio           0
baths            1018
shared_baths        0
price               0
avg_rating       3165
n_reviews        3165
dtype: int64

In [ ]:
data.beds.value_counts()

2.0      1325
0.0       795
3.0       462
4.0       262
5.0        76
6.0        56
7.0        35
103.0      14
8.0         4
40.0        3
Name: beds, dtype: int64

In [ ]:
data.beds.fillna(2.0 ,inplace= True)

In [ ]:
data.baths.value_counts()

1.0     2284
2.0     1821
3.0      418
1.5      384
4.0      167
2.5      115
5.0       70
4.5       31
6.0       23
3.5       20
8.0       11
12.0       3
Name: baths, dtype: int64

In [ ]:
data.baths.fillna(1.0, inplace = True)

In [ ]:
data.avg_rating.value_counts()

5.00    608
4.88    166
4.80    132
4.67    114
4.78    113
       ...
4.76      6
4.98      6
4.64      5
4.71      3
4.65      1
Name: avg_rating, Length: 64, dtype: int64

In [ ]:
data.avg_rating.fillna(0.00 , inplace = True)

In [ ]:
data.n_reviews.value_counts()

5.0      243
4.0      240
3.0      216
6.0      201
7.0      168
        ...
126.0      3
159.0      2
153.0      2
132.0      2
133.0      1
Name: n_reviews, Length: 79, dtype: int64

In [ ]:
data.avg_rating.fillna(0.00, inplace = True)

In [ ]:
data.isnull().sum()

ds                  0
search_filter       0
url                 0
title               0
type                0
location            0
guests              0
bedrooms            0
beds                0
is_studio           0
baths               0
shared_baths        0
price               0
avg_rating          0
n_reviews        3165
dtype: int64

## **2. Encoding categorical features**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6365 entries, 0 to 6364
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ds             6365 non-null   object
 1   search_filter  6365 non-null   object
 2   url            6365 non-null   object
 3   title          6365 non-null   object
 4   type           6365 non-null   object
 5   location       6365 non-null   object
 6   guests         6365 non-null   float64
 7   bedrooms       6365 non-null   int64
 8   beds           6365 non-null   float64
 9   is_studio      6365 non-null   bool
 10  baths          6365 non-null   float64
 11  shared_baths   6365 non-null   float64
 12  price          6365 non-null   float64
 13  avg_rating     6365 non-null   float64
 14  n_reviews      3200 non-null   float64
dtypes: bool(1), float64(7), int64(1), object(6)
memory usage: 702.5+ KB

In [ ]:
type_encoded = pd.get_dummies(data['type'])
type_encoded

      Camper/RV  Campsite  Dome house  ...  Shared room  Tent  Tiny house
0             0         0           0  ...            0     0           0
1             0         0           0  ...            0     0           0
2             0         0           0  ...            0     0           0
3             0         0           0  ...            0     0           0
4             0         0           0  ...            0     0           0
...         ...       ...         ...  ...          ...   ...         ...
6360          0         0           0  ...            0     0           0
6361          0         0           0  ...            0     0           0
6362          0         0           0  ...            0     0           0
6363          0         0           0  ...            0     0           0
6364          0         0           0  ...            0     0           0

[6365 rows x 24 columns]

In [ ]:
location_encoded = pd.get_dummies(data['location'])
location_encoded

      Ad Dilam  Ad Diriyah  Al Bahah  ...  Unayzah  aparthotel  boutique hotel
0            0           0         0  ...        0           0               0
1            0           0         0  ...        0           0               0
2            0           0         0  ...        0           0               0
3            0           0         0  ...        0           0               0
4            0           0         0  ...        0           0               0
...        ...         ...       ...  ...      ...         ...             ...
6360         0           0         0  ...        0           0               0
6361         0           0         0  ...        0           0               0
6362         0           0         0  ...        0           0               0
6363         0           0         0  ...        0           0               0
6364         0           0         0  ...        0           0               0

[6365 rows x 28 columns]

In [ ]:
data.title

0                                    Modern CHALET
1                           ALQIRWAN modern chalet
2       Fully Furnished Apartment With One Bedroom
3                  Marvelous Chalet شاليه مارفيلوس
4         FENDI Designed luxury sky view apartment
                           ...
6360                                  الركن البعيد
6361                        شقه مدخل خاص حي الملقا
6362                  Modern apartment in Alnarjis
6363                    Damac Fendi Tower - Riyadh
6364            شاليه رونزالاند رقم 9 المطل الغربي
Name: title, Length: 6365, dtype: object

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()

In [ ]:
title_transformed = cv.fit_transform(data.title)

In [ ]:
title_transformed = pd.DataFrame(title_transformed.toarray(), columns= cv.get_feature_names())

In [ ]:
title_transformed.head()

   0558052228  20  21  2bd  2bedroom  ...  يونيك  ١٦٠  ٢دورين  ٨دقائق  ڤيلا
0           0   0   0    0         0  ...      0    0       0       0     0
1           0   0   0    0         0  ...      0    0       0       0     0
2           0   0   0    0         0  ...      0    0       0       0     0
3           0   0   0    0         0  ...      0    0       0       0     0
4           0   0   0    0         0  ...      0    0       0       0     0

[5 rows x 752 columns]

In [ ]:
title_transformed.shape

(6365, 752)

In [ ]:
data = pd.concat([data,type_encoded,location_encoded,title_transformed], axis= 1)
data = data.drop(columns = ['ds','search_filter','url','title','type','location'], axis = 1)

In [ ]:
data.head()

   guests  bedrooms  beds  is_studio  baths  ...  يونيك  ١٦٠  ٢دورين  ٨دقائق  ڤيلا
0     2.0         1   2.0      False    1.0  ...      0    0       0       0     0
1     0.0         1   0.0      False    1.0  ...      0    0       0       0     0
2     2.0         1   2.0      False    1.0  ...      0    0       0       0     0
3     0.0         1   0.0      False    1.0  ...      0    0       0       0     0
4     2.0         1   2.0      False    1.5  ...      0    0       0       0     0

[5 rows x 2418 columns]